python-dotenv
pandas
numpy 
pymongo
certifi
pymongo[srv]
scikit-learn
mlflow
pyaml
dagshub
fastapi
uvicorn
geopy
xgboost
python-dotenv
flask
xgboost
scipy
openpyxl
ipykernel
scikit-learn
pandas
numpy
fastapi 
uvicorn
joblib 

#-e .